body {
  text-align: center;
}

.invisible {
  display: none;
}

h1 {
  font-family: Monoton;
}

table {
  margin: 0 auto;
}

td div {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  line-height: 200px;
  font-size: 30px;
  text-align: center;
  font-family: Monoton;
}

td {
  border: 1px solid black;
}

#status {
  display: inline-block;
}

#c1_1 {
  border-width: 0 1px 1px 0;
}

#c1_2 {
  border-width: 0 1px 1px 1px;
}

#c1_3 {
  border-width: 0 0 1px 1px;
}

#c2_1 {
  border-width: 1px 1px 1px 0;
}

#c2_3 {
  border-width: 1px 0 1px 1px;
}

#c3_1 {
  border-width: 1px 1px 0 0;
}

#c3_2 {
  border-width: 1px 1px 0 1px;
}

#c3_3 {
  border-width: 1px 0 0 1px;
}
