/* Styling for the "Animal Trading Cards" page. */

/* General setting for the page */

body, html {
  padding:0;
  margin:0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

/* Styling for the whole card */

#card {
  width: 334px;
  background-color: #CBE32D;
  margin: 15px;
  border: 3px dotted #ccc;
  border-radius: 5px;
}

#card:hover {
  box-shadow: 5px 5px 1px #eee;
}

/* The animal's name */

#name {
  background-color: #F3FAB6;
  margin: 15px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.5em;
}

#name:hover {
  box-shadow: 3px 3px 1px #A8CD1B;
}

/* The animal's picture */

#image {
  background-color: #F3FAB6;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 15px;
  padding: 1px;
}

#image:hover {
  box-shadow: 3px 3px 1px #A8CD1B;
}

/* The whole info box */

#infos {
  background-color: #F3FAB6;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px;
}

#infos:hover {
  box-shadow: 3px 3px 1px #A8CD1B;
}

  /* The interesting fact */

  #fact {
    margin: 15px;
    font-style: italic;
    text-align: center;
  }

  /* The fact list */

  #list {
    padding: 0;
    margin: 0 15px;
    list-style-type: none;
  }

  .item {
    font-weight: bold;
  }

  /* The general description */

  #desc {
    margin: 15px;
  }
